{% load static pipeline bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="The CLIMB project (Cloud Infrastructure for Microbial Bioinformatics) is a collaboration between Warwick, Birmingham, Cardiff and Swansea Universities to develop and deploy a world leading cyber-infrastructure for microbial bioinformatics; providing free cloud-based compute, storage, and analysis tools for academic microbiologists in the UK." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>{% block title %}CLIMB | Cloud Infrastructure for Microbial Informatics{% endblock %}{% block title_suffix %}{% endblock %}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {# Global stylesheets #}
    {% bootstrap_css %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    {% stylesheet 'brynweb' %}

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="site-body {% block body_class %}{% endblock %}">
    {% include "includes/top_menu.html" %}

    <header class="site-header">
        <img src="{% static 'images/climb_logo.png' %}" alt="CLIMB logo" class="header-logo" />
    {% block full_jumbo %}{% endblock %}
    </header>
   
    <main class="site-content clearfix">{% block content %}{% endblock %}</main>

    <footer class="site-footer">{% include "includes/footer.html" %}</footer>

    {# Global javascript #}
    {% bootstrap_javascript jquery=1 %}
    {% javascript 'brynweb' %}
    <script src="https://use.fontawesome.com/ab6fe5d3cc.js"></script>

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
