{% load static pipeline bootstrap3 %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}CLIMB | Cloud Infrastructure for Microbial Informatics{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    {% bootstrap_css %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    {% stylesheet 'brynweb' %}

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="site-body {% block body_class %}{% endblock %}">
    {% include "includes/top_menu.html" %}

    <header class="site-header">
        <img src="{% static 'images/climb_logo.png' %}" alt="CLIMB logo" class="header-logo" />
    {% block full_jumbo %}{% endblock %}
    </header>
   
    <main class="site-content clearfix">{% block content %}{% endblock %}</main>

    <footer class="site-footer">{% include "includes/footer.html" %}</footer>

    {# Global javascript #}
    {% bootstrap_javascript jquery=1 %}
    {% javascript 'brynweb' %}
    <script src="https://use.fontawesome.com/ab6fe5d3cc.js"></script>

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
