{% extends "home/base.html" %}

{% block full_jumbo %}
  <div class="jumbotron">
    <div class="container">
      <h1>Your password has been reset</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p><i class="fa fa-check fa-4x text-success"></i></p>
      <p>Thank you! Your password has now been reset.</p>
      <p>You can now <a href="{% url 'user:login' %}">login</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
