{% extends "home/base.html" %}
{% load bootstrap3 %}

{% block full_jumbo %}
  <div class="jumbotron">
    <div class="container">
      <h1>Password reset confirmation</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_messages %}

      {% if validlink %}
        <form action="?" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-success">
              <i class="fa fa-envelope"></i> Submit
            </button>
          {% endbuttons %}
        </form>
      {% else %}
        <p><i class="fa fa-exclamation-triangle fa-4x text-danger"></i></p>
        <p>This password reset link is no longer valid.</p>
        <p>You may wish to <a href="{% url 'user:password_reset' %}">request a new reset link.</a></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
