{% extends "home/base.html" %}
{% load bootstrap3 %}

{% block full_jumbo %}
  <div class="jumbotron">
    <div class="container">
      <h1>Password reset</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
      {% bootstrap_messages %}

      <p class="well">We will email you a link to reset your password, along with a reminder of your username.</p>

      <form action="?" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-success">
            <i class="fa fa-envelope"></i> Submit
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
