{% extends "home/base.html" %}

{% block full_jumbo %}
  <div class="jumbotron">
    <div class="container">
      <h1>Check your email</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p><i class="fa fa-check fa-4x text-success"></i></p>
      <p>Thank you! You should receive an email with your password reset link shortly.</p>
      <p>If you have not received anything after a few minutes, make sure to check your junk folder.</p>
    </div>
  </div>
</div>
{% endblock %}
