{% extends "base.html" %}
{% load bootstrap3 static %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <h1>Register for a CLIMB user account</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form action="?" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
              <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Register</button>
            {% endbuttons %}
        </form>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-primary">
          <div class="panel-heading">
            To register for a CLIMB user account, you must:
          </div>
          <div class="panel-body">
            <ul>
              <li>Be sponsored by a CLIMB team owner
              <li><a href="https://discourse.climb.ac.uk/t/acceptable-use-and-security-policy">Agree to be bound by our acceptable use policy</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
