/* --- TYPOGRAPHY --- */

body {
  font-family: 'Roboto';
}

h2, .h2 {
  color: #2d728b;
}

h3, .h3 {
  color: #d07232;
}


/* --- JUMBOTRON --- */

.jumbotron {
  background: #2d728b;
  padding-top: 70px;
}

.jumbotron h1 {
  font-size: 4em;
  color: #c2d5dc;
}


/* --- HEADER --- */

.header-logo {
  width: 300px;
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: 2000;
}


/* --- BUTTONS --- */

.btn i.fa {
  margin-right: 0.5em;
}


/* --- NAV --- */

.navbar {
  background-color: #2d3e48;
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #bfc4c7;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.panel-primary {
  border-color: #8a7967;
}

.panel-primary>.panel-heading {
  background-color: #8a7967;
  border-color: #8a7967;
  color: #fff;
}


/* --- FOOTER --- */

.site-footer {
  padding: 40px 0;
  margin-top:50px;
  background-color: #2d3e48;
  border-top:5px solid #24323a;
  -webkit-box-shadow: inset 0px 6px 5px -5px rgba(0,0,0,0.35);
  box-shadow: inset 0px 6px 5px -5px rgba(0,0,0,0.35);
  height:159px;
}

.site-footer p {
  color:#bfc4c7;
  font-size:12px;
  font-weight:300;
  text-transform:uppercase;
  margin-bottom: 0px;
  padding: 5px 0px;
}

.site-footer p:first-child {
  padding-top:15px;
}

.site-footer p:last-child {
  padding-bottom:15px;
}

.site-footer a {
  color: #bfc4c7;
}

.site-footer a:hover {
  color: #fff;
}

.unilogos {
  text-align: center;
}

.unilogos a {
  margin: auto;
}

.unilogos img {
  max-height: 70px;
  max-width: 150px;
}

.footer-copy {
  border-right:1px solid rgba(250, 250, 250, .6);
}


/* --- FLEXBOX ROWS --- */

@media only screen and (min-width : 481px) {
  .flex-row.row {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .flex-row.row:after, 
  .flex-row.row:before {
    display: flex;
  }
}


/* --- TABLES --- */

.table-responsive {
  overflow-y: visible;
  overflow-x: visible;
}
