{% load bootstrap3 static %}

<div class="panel-group" id="accordion">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#launch-gvl{{ forloop.counter }}">
        Launch a Genomics Virtual Laboratory server</a>
      </h4>
    </div>
    <div id="launch-gvl{{ forloop.counter }}" class="panel-collapse collapse">
      <div class="panel-body">
        <form action="{% url 'home:launch' t.pk %}" method="post" class="form launch-gvl-form">
          {% csrf_token %}
          {% bootstrap_form t.launch_form %}
          {% buttons %}
            <button type="submit" class="btn btn-success">
              <i class="fa fa-server"></i> Launch Server
            </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#launch-custom{{ forloop.counter }}">
        Launch a custom server</a>
      </h4>
    </div>
    <div id="launch-custom{{ forloop.counter }}" class="panel-collapse collapse">
      <div class="panel-body">
        <form action="{% url 'home:launchcustom' teamid=t.id %}" method="post" class="form launch-custom-form">
          {% csrf_token %}
          {% bootstrap_form t.launch_custom_form %}
          {% buttons %}
            <button type="submit" class="btn btn-success">
              <i class="fa fa-server"></i> Launch Server
            </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#advanced-interface{{ forloop.counter }}">
        Advanced interface</a>
      </h4>
    </div>
    <div id="advanced-interface{{ forloop.counter }}" class="panel-collapse collapse">
      <div class="panel-body">
        <p>For advanced options, please login to <a href="{{ t.horizon_endpoint }}">Horizon</a> with:</p>
        <dl>
          <dt>username</dt><dd><font face="Courier">{{ t.tenant_access.get_auth_username }}</font></dd>
          <dt>password</dt><dd><font face="Courier">{{ t.tenant_access.auth_password }}</font></dd>
        </dl>
      </div>
    </div>
  </div>
  {% include "home/includes/region_selector.html" %}
</div>