<table class="table table-responsive instances-table">
  <tr>
    <th>Name</th>
    <th>Created</th>
    <th>Flavor</th>
    <th>Status</th>
    <th>IP address</th>
    <th><button class="btn btn-info btn-instances-refresh" data-team-action="refresh"><i class="fa fa-refresh"></i> Refresh</button></th>
  </tr>

  {% for i in t.instances %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.created }}</td>
      <td>
        {% if i.flavor == "climb.group" %}
          <i class="fa fa-users text-success"></i>
        {% elif i.flavor == "climb.user" %}
          <i class="fa fa-user text-info"></i>
        {% endif %}
        {{ i.flavor }}
      </td>
      <td>{{ i.status|title }}</td>
      <td><a href="http://{{ i.ip }}" target="_blank">{{ i.ip }}</a></td>

      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown"><i class="fa fa-reorder"></i> Options</button>
          <ul class="dropdown-menu instance-actions-list">
            {% if i.status == 'SHUTOFF' %}
              <li><a href="{% url 'home:start' t.pk i.id %}"><span class="text-success">Start</span></a></li>
            {% elif i.status == 'SHELVED_OFFLOADED' %}
              <li><a href="{% url 'home:unshelve' t.pk i.id %}"><span class="text-success">Unshelve</span></a></li>
            {% else %}
              <li><a href="{% url 'home:stop' t.pk i.id %}">Stop</a></li>
              <li><a href="{% url 'home:reboot' t.pk i.id %}">Reboot</a></li>
            {% endif %}
            <li><a href="{% url 'home:terminate' t.pk i.id %}" onclick="return false;"><span class="text-danger">Terminate</span></a></li>
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}

</table>
