{% load bootstrap3 static %}

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#region-change{{ forloop.counter }}">
      Change region</a>
    </h4>
  </div>
  <div id="region-change{{ forloop.counter }}" class="panel-collapse collapse">
    <div class="panel-body">
      <form action="{% url 'home:region-select' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form regionform %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Change Region
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>