{% extends "home/base.html" %}
{% load bootstrap3 static %}

{% block extra_js %}
  <script src="{% static 'home/js/dashboard.js' %}"></script>
  <script src="{% static 'home/js/ajax-forms.js' %}"></script>
{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron">
    <div class="container">
      <h1>Dashboard</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        {% bootstrap_messages %}

        {% if teams|length > 1 %}
          <ul class="nav nav-tabs">
          {% for t in teams %}
            <li class="{% if forloop.counter == 1 %}active{% endif %}"><a data-toggle="tab" href="#team-{{ t.id }}">{{ t }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="tab-content">
      {% for t in teams %}

        <div id="team-{{ t.id }}" class="team-container tab-pane fade in {% if forloop.counter == 1 %}active{% endif %}">
          <div class="row team-container">
            <div class="col-md-12">
              <h2>{{ t }}</h2>

              {% if not t.verified %}
                <p>Your team details are currently being validated by our administration team. Please check back later to launch servers!</p>
              {% elif t.tenant_access %}
                <h3>Running servers at {{ region|title }}</h3>
                <div class="instances-table-container" data-team-id="{{ t.id }}">
                  {% include "home/includes/instances_table.html" %}
                </div>
                <div class="row">
                  <div class="col-md-6">
                    {% include "home/includes/dashboard_actions.html" %}
                  </div>
                  <div class="col-md-6">
                    <div class="messages-container"></div>
                  </div>
                </div>
              {% else %}
                <div class="col-md-6">
                  <p class="text-danger"><i class="fa fa-warning"></i> Your team doesn't currently have a tenant registered for this region ({{ region|title }}).</p>
                  {% include "home/includes/region_selector.html" %}
                </div>
              {% endif %}
            </div>
          </div>

          {% if t.verified and t.is_admin %}
            <div class="row">
              <div class="col-md-6">
                <h2>Invite users</h2>
                <p>As group leader, you can invite new users to join your group using this invitation form:</p>

                <form action="{% url 'user:invite' %}" method="post" class="form">
                  {% csrf_token %}
                  {% bootstrap_form invite %}
                  {% buttons %}
                    <button type="submit" class="btn btn-primary">
                      <i class="fa fa-envelope"></i> Invite User
                    </button>
                  {% endbuttons %}
                </form>
              </div>
            </div>
          {% endif %}

        {# -- end team tab content-- #}
        </div>
      {%endfor %}
    </div>
  </div>
{% endblock %}
