{% extends "home/base.html" %}
{% load bootstrap3 %}

{% block full_jumbo %}
  <div class="jumbotron">
    <div class="container">
      <h1>Sign-in</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_messages %}

      <form action="{% url 'user:login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-success">
            <i class="fa fa-lock"></i> Login
          </button>
        {% endbuttons %}
      </form>

      <h3>Register</h3>
      <a href="/user/register">Register for a new CLIMB account</a>
    </div>
  </div>
</div>
{% endblock %}
