{% extends "base.html" %}
{% load bootstrap3 static %}

{% block extra_js %}
  <script src="{% static 'home/js/launch-image.js' %}"></script>
{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron">
    <div class="container">
      <h1>Launch instance</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_messages %}

        <h3>Launch a custom server</h3>

        <form action="?" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Launch Server
            </button>
          {% endbuttons %}
        </form>

    </div>
  </div>
</div>
{% endblock %}
